*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 27px;
    padding-left: 23px;
    padding-top: 59px;
}
.page img{
    width: 100%;
    height: 366px;
    padding-top: 32px;  
}

.btn{
    width: 8rem;
    height: 4rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    /* padding: 1rem; */
    justify-content:space-around;
    border-color: black;
    border-radius: 7px;
    background-color: white;
    border-width: 3px;
    
}
.veg{
   padding-right: 7px; 
   font-size: 29px;
}
.vi{
    width: 40px;
    
}

.type-btn {
    padding: 2rem 3rem;
    display: flex;
    gap: 6rem;
    
}
.btn2{
    width: 13rem;
    height: 4rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    /* padding: 1rem; */
    justify-content:space-around;
    border-color: black;
    border-radius: 7px;
    background-color: white;
    border-width: 3px;
    
}
.non{
   padding-right: 7px; 
   font-size: 29px;
}
.vi2{
    width: 40px;
    
}
.btn3{
    width: 15rem;
    height: 4rem;
    font-size: 30px;
    display: flex;
    align-items: center;
    /* padding: 1rem; */
    justify-content:space-around;
    border-color: black;
    border-radius: 7px;
    background-color: white;
    border-width: 3px;
    
}

.xcv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.qaz {
    width: 100%;
    height: 509px;  
}
.Nonveg{
    position: relative;
    border-color: black;
    border: 2px solid #000;
    height: 780px;
    width: 970px;
    display: flex;
    flex-direction: column;
    
}
/* .Nonveg2 img{
    width: 100%;
    height: 509px;
    
} */
.Nonveg2{
    position: relative;
    border-color: black;
    border: 2px solid #000;
    height: 800px;
    width: 970px;
    display: flex;
    flex-direction: column;
    
}
.text{
    padding-left: 10px;
}
.par{
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    color: #7F808E;
    padding: 12px;
    padding-left: 109px;
}
.schema{
    padding-left: 43px;
    font-size: 36px;
}
.price1{
    padding-left: 43px;
    font-size: 36px;
}
.par2{
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    color: #7F808E;
    padding: 12px;
    padding-left: 109px;
}
.momo{
    padding-left: 43px;
    font-size: 36px;
}
.price2{
    padding-left: 43px;
    font-size: 36px;
}
.button{
    position: absolute;
    top: 11px;
    left: 98px;
    background: #DCB11B;
    color: white;
    height: 52px;
    width: 175px;
    border-radius: 7px;
    font-size: 32px;
}
.vii{
    
    position: absolute;
    top: 15px;
    left: 20px;
    height: 41px;
    width: 50px;
    
    background:white;
}
.button2{
    position: absolute;
    top: 11px;
    left: 98px;
    background: #DCB11B;
    color: white;
    height: 52px;
    width: 175px;
    border-radius: 7px;
    font-size: 32px;
}
.vii2{
    position: absolute;
    top: 15px;
    left: 20px;
    height: 41px;
    width: 50px;
    background:white;
}
.btn:hover{
    cursor: pointer;
    background-color:red;
    transform: translateY(-8px);
    transition: .4s;
    color: aqua;
    
}
